body{
	background-color: #eaeaea;
}
* {
	font-family: Droid Sans;
}

.icons p{
	color: #616161;
	font-family: raleway;
	font-weight: 300;
}

h1 {
	font-family: 'Raleway';
	color: #3498DB;x
	font-weight: 500;
	padding-top:100px;
	text-align: center;
}

.container {
	max-width: 900px;
	margin: auto;
	background-color: 00000;
}

.box {
	height: 200px;
	width: 95%;
	background: #fee252;
	margin-right: 10px;
}

.menu {
	text-align: center;
}
.contact{
	text-align: center;
	font-family: raleway;
	font-size: 300;
}

.logo {
	text-align: center;
	padding-bottom: 20px;
}

.logo img {
	width: 100px;
}

.icon {
	width: 69px;
}

.set-icon {
	padding-top: 150px;
	text-align: center;
}

@media all and (max-width: 767px){
	.set-icon {
		padding-top: 50px;
	}	

	.icon-holder {
		padding-bottom: 20px;
	}
}